In [1]:
# conda env export > environment.yml
import pandas as pd
import numpy as np
import warnings
from matplotlib import pyplot
#from pandas import read_csv, set_option
from pandas import Series, datetime
from pandas.tools.plotting import scatter_matrix, autocorrelation_plot
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, KFold, cross_val_score, GridSearchCV, TimeSeriesSplit
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier, RandomForestClassifier, ExtraTreesClassifier
from sklearn.metrics import roc_curve, auc
import matplotlib.pyplot as plt
import random
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
from xgboost import XGBClassifier
import seaborn as sns
import pickle
from datetime import date, timedelta
from datetime import datetime
import timeboard.calendars.US as US
import pytz
from urllib2 import Request
from urllib2 import  urlopen
import json
from pandas.io.json import json_normalize
import pandas.io.json as pd_json
from sklearn.decomposition import PCA
warnings.filterwarnings("ignore")

C:\ProgramData\Anaconda2\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
# Loading the dataset to a dataframe
sentence_file = "Sentence_Polarity/TodaySentiments.csv"
sentence_df = pd.read_csv(sentence_file)
# sentence_df.head()
sentence_df = sentence_df.head(1)
# sentence_df[ ['Subjectivity', 'Objectivity', 'Positive', 'Negative', 'Neutral']]
sentence_df.iloc[:,4:9]

   Subjectivity  Objectivity  Positive  Neutral  Negative
0         100.0          0.0      40.0      0.0      60.0

In [3]:
# Check the shape and data types of the dataframe
print(sentence_df.shape)
# print(sentence_df.dtypes) 
sentence_df['Subjectivity'] = sentence_df['Subjectivity'].astype(float)
sentence_df['Objectivity'] = sentence_df['Objectivity'].astype(float)
sentence_df['Positive'] = sentence_df['Positive'].astype(float)
sentence_df['Neutral'] = sentence_df['Neutral'].astype(float)
sentence_df['Negative'] = sentence_df['Negative'].astype(float)
print(sentence_df.dtypes)

(1, 9)
Unnamed: 0        int64
Unnamed: 0.1      int64
Date             object
Title            object
Subjectivity    float64
Objectivity     float64
Positive        float64
Neutral         float64
Negative        float64
dtype: object

In [4]:
# # pd.to_datetime(date.today())
# # str(date.today())
# yesterday = str(date.today() -  timedelta(days = 1))


# tz_NY = pytz.timezone('America/New_York') 
# datetime_NY = datetime.now(tz_NY)
# datetime_NY
# currentDayUS = str(pd.to_datetime(datetime_NY)).split(' ')[0]
# # print("NY time:", datetime_NY.strftime("%Y:%M:%S"))
# yesterdayUS = str(pd.to_datetime(datetime_NY) -  timedelta(days = 1)).split(' ')[0]
# # yesterday = pd.to_datetime(yesterdayUS)
# currentDayUS
# yesterdayUS

# clnd = US.Weekly8x5()
# lastWorkingDayUS = str(clnd(yesterdayUS).rollback().to_timestamp().date())
# lastWorkingDayUS

In [5]:
apiKey = '9AyXbJ2Mzk2M8ptCmzr4YEZTor4KEWBoBtLTscfz4x8Xugh6PnQxLjx38xbt'
index = '^DJI'
fromDate = '2019-11-06'
apiEndPoint = 'https://api.worldtradingdata.com/api/v1/history?symbol=' +index+ '&sort=newest&date_from=' +fromDate+ '&api_token=' + apiKey

request=Request(apiEndPoint)
response = urlopen(request)
elevations = response.read()
data = json.loads(elevations)
data

{u'history': {u'2019-11-06': {u'close': u'27492.56',
   u'high': u'27526.05',
   u'low': u'27407.81',
   u'open': u'27502.74',
   u'volume': u'243187265'},
  u'2019-11-07': {u'close': u'27674.80',
   u'high': u'27774.67',
   u'low': u'27590.16',
   u'open': u'27590.16',
   u'volume': u'263577159'},
  u'2019-11-08': {u'close': u'27681.24',
   u'high': u'27694.95',
   u'low': u'27578.97',
   u'open': u'27686.20',
   u'volume': u'222786014'},
  u'2019-11-11': {u'close': u'27691.49',
   u'high': u'27714.39',
   u'low': u'27517.67',
   u'open': u'27580.66',
   u'volume': u'204621806'},
  u'2019-11-12': {u'close': u'27691.49',
   u'high': u'27770.86',
   u'low': u'27635.32',
   u'open': u'27701.59',
   u'volume': u'213668945'},
  u'2019-11-13': {u'close': u'27783.59',
   u'high': u'27806.40',
   u'low': u'27587.20',
   u'open': u'27622.00',
   u'volume': u'278387733'}},
 u'name': u'^DJI'}

In [6]:
df = pd_json.json_normalize(data, 
                            record_path='history', 
                            meta=['history'])

numberOfRows = len(df.index)
stonks = pd.DataFrame(index=np.arange(0, numberOfRows), columns=('Date', 'Open', 'High','Low','Close', 'Volume'))
for idx , date in enumerate(data['history']): 
    stonks.loc[idx] = [date 
                       ,data['history'][date]['open']
                       ,data['history'][date]['high']
                       ,data['history'][date]['low']
                       ,data['history'][date]['close']
                       ,data['history'][date]['volume']
                       ]
numberOfRows
# stonks.head()
stonks = stonks.sort_values(by = 'Date', ascending = 0)

# Check the shape and datatypes of the stock prices dataframe
# stock_data = stonks.head(1)
stock_data =  stonks
# stock_data.head()
stock_data = stock_data.reset_index(drop=True)
stock_data.head()
stock_data['Date'] = pd.to_datetime(stock_data['Date'])
stock_data['Open'] = stock_data['Open'].astype(float)
stock_data['High'] = stock_data['High'].astype(float)
stock_data['Low'] = stock_data['Low'].astype(float)
stock_data['Close'] = stock_data['Close'].astype(float)
stock_data['Volume'] = stock_data['Volume'].astype(float)
stock_data = stock_data.head(1)
stock_data
print(stock_data.shape)

6

         Date      Open      High       Low     Close     Volume
0  2019-11-13  27622.00  27806.40  27587.20  27783.59  278387733
1  2019-11-12  27701.59  27770.86  27635.32  27691.49  213668945
2  2019-11-11  27580.66  27714.39  27517.67  27691.49  204621806
3  2019-11-08  27686.20  27694.95  27578.97  27681.24  222786014
4  2019-11-07  27590.16  27774.67  27590.16  27674.80  263577159

        Date     Open     High      Low     Close       Volume
0 2019-11-13  27622.0  27806.4  27587.2  27783.59  278387733.0

(1, 6)

In [7]:
# Create a dataframe by merging the headlines and the stock prices dataframe
merged_dataframe = sentence_df[[ 'Subjectivity', 'Objectivity', 'Positive', 'Negative', 'Neutral']].merge(stock_data, how='inner',right_index=True, left_index=True)
# Check the shape and top 5 rows of the merged dataframe
print(merged_dataframe.shape)
merged_dataframe.head()

# Push the Label column to the end of the dataframe
cols = list(merged_dataframe)
# print(cols)
cols.insert(0,cols.pop(cols.index('Date')))
merged_dataframe = merged_dataframe.ix[:, cols]
merged_dataframe.head()
merged_dataframe.dtypes

(1, 11)

,Subjectivity,Objectivity,Positive,Negative,Neutral,Date,Open,High,Low,Close,Volume
0,100.0,0.0,40.0,60.0,0.0,2019-11-13,27622.0,27806.4,27587.2,27783.59,278387733.0

,Date,Subjectivity,Objectivity,Positive,Negative,Neutral,Open,High,Low,Close,Volume
0,2019-11-13,100.0,0.0,40.0,60.0,0.0,27622.0,27806.4,27587.2,27783.59,278387733.0

Date            datetime64[ns]
Subjectivity           float64
Objectivity            float64
Positive               float64
Negative               float64
Neutral                float64
Open                   float64
High                   float64
Low                    float64
Close                  float64
Volume                 float64
dtype: object

In [8]:
# Print the datatypes and count of the dataframe
# print(merged_dataframe.dtypes)
print(merged_dataframe.count())
X_test = merged_dataframe.loc[:,'Subjectivity':'Volume']
X_test
# y = merged_dataframe.loc[:,'Label']

Date            1
Subjectivity    1
Objectivity     1
Positive        1
Negative        1
Neutral         1
Open            1
High            1
Low             1
Close           1
Volume          1
dtype: int64

,Subjectivity,Objectivity,Positive,Negative,Neutral,Open,High,Low,Close,Volume
0,100.0,0.0,40.0,60.0,0.0,27622.0,27806.4,27587.2,27783.59,278387733.0

In [9]:
pca = PCA(n_components=3)
pca = pickle.load(open("pca_3.pickle.dat", "rb"))
# pca.fit(X_test)
# X_test.dtypes
transformed = pca.transform(X_test)
transformed

transformed.shape
print(type(transformed))

array([[1.15910933e+08, 3.39809656e+04, 1.79866199e+02]])

(1L, 3L)

<type 'numpy.ndarray'>

# Current Trend Prediction

In [10]:
pca_df = pd.DataFrame(transformed)

clf = XGBClassifier(n_estimators=500, max_depth=3)
clf = pickle.load(open("xgboost_500_3.pickle.dat", "rb"))

y_pred_pca = clf.predict(pca_df)
y_pred_pca[0]
if (y_pred_pca[0] == 0):
    print ("Stock is likely to go down based on current news.")
if (y_pred_pca[0] == 1):
    print ("Stock is likely to go up based on current news.")
#zero tells if market  will go down or up(1)

1

Stock is likely to go up based on current news.

In [11]:
apiKey = '9AyXbJ2Mzk2M8ptCmzr4YEZTor4KEWBoBtLTscfz4x8Xugh6PnQxLjx38xbt'
index = '^DJI'
apiEndPoint = 'https://api.worldtradingdata.com/api/v1/history?symbol=' +index+ '&sort=oldest&date_from=2009-08-08&api_token=' + apiKey

request=Request(apiEndPoint)
response = urlopen(request)
elevations = response.read()
data = json.loads(elevations)
# data.head()

In [12]:
df = pd_json.json_normalize(data, 
                            record_path='history', 
                            meta=['history'])

numberOfRows = len(df.index)
stonks = pd.DataFrame(index=np.arange(0, numberOfRows), columns=('Date', 'Open', 'High','Low','Close', 'Volume'))
for idx , date in enumerate(data['history']): 
    stonks.loc[idx] = [date 
                       ,data['history'][date]['open']
                       ,data['history'][date]['high']
                       ,data['history'][date]['low']
                       ,data['history'][date]['close']
                       ,data['history'][date]['volume']
                       ]
numberOfRows
stonks.head()

2581

         Date      Open      High       Low     Close     Volume
0  2018-03-06  24965.89  24995.24  24708.41  24884.12  331766021
1  2019-06-06  25567.45  25800.30  25518.05  25720.66  248068144
2  2019-06-07  25768.72  26072.75  25768.72  25983.94  263011043
3  2019-06-04  24962.82  25343.77  24962.82  25332.18  281688224
4  2018-03-07  24758.15  24849.68  24535.12  24801.36  394070603

In [13]:

# Check the shape and datatypes of the stock prices dataframe
stock_data = stonks
stock_data['Date'] = pd.to_datetime(stock_data['Date'])
stock_data['Open'] = stock_data['Open'].astype(float)
stock_data['High'] = stock_data['High'].astype(float)
stock_data['Low'] = stock_data['Low'].astype(float)
stock_data['Close'] = stock_data['Close'].astype(float)
stock_data['Volume'] = stock_data['Volume'].astype(float)

merged_dataframe = stock_data
# Print the datatypes and count of the dataframe
print(merged_dataframe.dtypes)
print(merged_dataframe.count())
# # Change the NaN values to the mean value of that column
# nan_list = ['Subjectivity', 'Objectivity', 'Positive', 'Negative', 'Neutral']
# for col in nan_list:
#     merged_dataframe[col] = merged_dataframe[col].fillna(merged_dataframe[col].mean())

    
merged_dataframe['Date'] = merged_dataframe['Date'].dt.strftime('%Y-%m')
# df_dateclose = pd.Series(merged_dataframe['Close'].values, index = merged_dataframe['Date'])
merged_dataframe.head()

Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
dtype: object
Date      2581
Open      2581
High      2581
Low       2581
Close     2581
Volume    2581
dtype: int64

      Date      Open      High       Low     Close       Volume
0  2018-03  24965.89  24995.24  24708.41  24884.12  331766021.0
1  2019-06  25567.45  25800.30  25518.05  25720.66  248068144.0
2  2019-06  25768.72  26072.75  25768.72  25983.94  263011043.0
3  2019-06  24962.82  25343.77  24962.82  25332.18  281688224.0
4  2018-03  24758.15  24849.68  24535.12  24801.36  394070603.0

In [14]:
merged_dataframe = merged_dataframe.sort_values(by = 'Date')
merged_dataframe.head()
merged_dataframe = merged_dataframe.reset_index(drop=True)
merged_dataframe.head()

        Date     Open     High      Low    Close       Volume
802  2009-08  9347.86  9519.11  9347.25  9505.96  293528544.0
801  2009-08  9538.61  9582.97  9485.78  9543.52  154665200.0
659  2009-08  9542.91  9543.06  9436.13  9496.28  201604464.0
964  2009-08  9368.41  9371.96  9290.34  9337.95  161365312.0
965  2009-08  9334.33  9334.33  9216.88  9241.45  171375168.0

      Date     Open     High      Low    Close       Volume
0  2009-08  9347.86  9519.11  9347.25  9505.96  293528544.0
1  2009-08  9538.61  9582.97  9485.78  9543.52  154665200.0
2  2009-08  9542.91  9543.06  9436.13  9496.28  201604464.0
3  2009-08  9368.41  9371.96  9290.34  9337.95  161365312.0
4  2009-08  9334.33  9334.33  9216.88  9241.45  171375168.0

In [15]:
# # evaluate an ARIMA model for a given order (p,d,q)
# def evaluate_arima_model(X, arima_order):
#     # prepare training dataset
#     train_size = int(len(X) * 0.66)
#     train, test = X[0:train_size], X[train_size:]
#     history = [x for x in train]
#     # make predictions
#     predictions = list()
#     for t in range(len(test)):
#         model = ARIMA(history, order=arima_order)
#         model_fit = model.fit(disp=0)
#         yhat = model_fit.forecast()[0]
#         predictions.append(yhat)
#         history.append(test[t])
#     # calculate out of sample error
#     error = mean_squared_error(test, predictions)
#     return error

# # evaluate combinations of p, d and q values for an ARIMA model
# def evaluate_models(dataset, p_values, d_values, q_values):
#     dataset = dataset.astype('float32')
#     best_score, best_cfg = float("inf"), None
#     for p in p_values:
#         for d in d_values:
#             for q in q_values:
#                 order = (p,d,q)
#                 try:
#                     mse = evaluate_arima_model(dataset, order)
#                     if mse < best_score:
#                         best_score, best_cfg = mse, order
#                     print('ARIMA%s MSE=%.3f' % (order,mse))
#                 except:
#                     continue
#     print('Best ARIMA%s MSE=%.3f' % (best_cfg, best_score))

# # evaluate parameters
# p_values = [0, 1, 2, 4, 6, 8, 10]
# d_values = range(0, 3)
# q_values = range(0, 3)
# df_dateopen = pd.Series(merged_dataframe['Open'].values, index = merged_dataframe['Date'])
# df_dateopen.head()

# warnings.filterwarnings("ignore")
# evaluate_models(df_dateopen.values, p_values, d_values, q_values)

# Close Values

In [17]:
df_dateclose = pd.Series(merged_dataframe['Close'].values, index = merged_dataframe['Date'])
df_dateclose.head()
# 010, 011 dras, conservative
X = df_dateclose.values
X
len(X)
size = int(len(X) * 0.66)
train, test = X[0:size], X[size:len(X)]
len(train)
len(test)
# train
history = [x for x in train]
len(history)
predictions = list()
# predictions
model = ARIMA(X, order=(0,1,0))
model_fit = model.fit(disp=0)
output = model_fit.forecast()
yhat = output[0]
print ("Tomorrows Prediction for Close: %f " % (yhat))

Date
2009-08    9505.96
2009-08    9543.52
2009-08    9496.28
2009-08    9337.95
2009-08    9241.45
dtype: float64

array([ 9505.96,  9543.52,  9496.28, ..., 27347.36, 27462.11, 27783.59])

2581

1703

878

1703

Tomorrows Prediction for Close: 27790.674353

In [ ]:
# df_dateclose = pd.Series(merged_dataframe['Close'].values, index = merged_dataframe['Date'])
# df_dateclose.head()

# X = df_dateclose.values
# X
# len(X)
# size = int(len(X) * 0.66)
# train, test = X[0:size], X[size:len(X)]
# len(train)
# len(test)
# # train
# history = [x for x in train]
# len(history)
# predictions = list()
# # predictions
# model = ARIMA(X, order=(0,1,1))
# model_fit = model.fit(disp=0)
# output = model_fit.forecast()
# yhat = output[0]
# print ("Tomorrows Prediction: %f " % (yhat))


# final_model = None 
# for t in range(len(test)):
#     model = ARIMA(history, order=(0,1,1))
#     model_fit = model.fit(disp=0)
#     output = model_fit.forecast()
#     yhat = output[0]
#     predictions.append(yhat)
#     obs = test[t]
#     history.append(obs)
#     print('predicted=%f, expected=%f' % (yhat, obs))
#     if (t == (len(test) -1) ):
#         history.append(obs)
#         model = ARIMA(history, order=(0,1,1))
#         model_fit = model.fit(disp=0)
#         output = model_fit.forecast()
#         yhat = output[0]
#         print ("Tomorrows Prediction: %f " % (yhat))

# error = mean_squared_error(test, predictions)
# print('Test MSE: %.3f' % error)
# # plot
# pyplot.plot(test)
# pyplot.plot(predictions, color='red')
# pyplot.show()

# Open Values

In [19]:
df_dateopen = pd.Series(merged_dataframe['Open'].values, index = merged_dataframe['Date'])
df_dateopen.head()

X = df_dateopen.values
X
len(X)
size = int(len(X) * 0.66)
train, test = X[0:size], X[size:len(X)]
len(train)
len(test)
# train
history = [x for x in train]
len(history)
predictions = list()
# predictions
model = ARIMA(X, order=(0,1,0))
model_fit = model.fit(disp=0)
output = model_fit.forecast()
yhat = output[0]
print ("Tomorrows Prediction for Open: %f " % (yhat))

Date
2009-08    9347.86
2009-08    9538.61
2009-08    9542.91
2009-08    9368.41
2009-08    9334.33
dtype: float64

array([ 9347.86,  9538.61,  9542.91, ..., 27142.95, 27402.06, 27622.  ])

2581

1703

878

1703

Tomorrows Prediction for Open: 27629.083000

In [ ]:
# df_dateclose = pd.Series(merged_dataframe['Open'].values, index = merged_dataframe['Date'])
# df_dateclose.head()

# X = df_dateclose.values
# X
# len(X)
# size = int(len(X) * 0.66)
# train, test = X[0:size], X[size:len(X)]
# len(train)
# len(test)
# # train
# history = [x for x in train]
# len(history)
# predictions = list()
# # predictions
# final_model = None 
# for t in range(len(test)):
#     model = ARIMA(history, order=(0,1,1))
#     model_fit = model.fit(disp=0)
#     output = model_fit.forecast()
#     yhat = output[0]
#     predictions.append(yhat)
#     obs = test[t]
#     history.append(obs)
#     print('predicted=%f, expected=%f' % (yhat, obs))
#     if (t == (len(test) -1) ):
#         history.append(obs)
#         model = ARIMA(history, order=(0,1,0))
#         model_fit = model.fit(disp=0)
#         output = model_fit.forecast()
#         yhat = output[0]
#         print ("Tomorrows Prediction: %f " % (yhat))

# error = mean_squared_error(test, predictions)
# print('Test MSE: %.3f' % error)
# # plot
# pyplot.plot(test)
# pyplot.plot(predictions, color='red')
# pyplot.show()